@mixin responsive($point) {
    @if $point==tablet {
        @media only screen and (max-width:$tablet) {
            @content;
        }
    }

    @else if $point==mobile {
        @media only screen and (max-width:$mobile) {
            @content;
        }
    }
}