$text-color-white: white;
$text-color-grey: rgb(113, 111, 111);
$text-color-black: rgb(24, 24, 24);
$text-color-green: rgb(61, 229, 112);
$grey-section: rgb(255, 246, 243);
$input-color: rgb(218, 217, 217);
$headline-green:rgb(39,222,191);
$secondaryBtn:rgb(73, 39, 222);
$tablet: 768px;
$mobile: 576px;
$mediumScreen:1100px;